<div ng-controller='tool-cont'>
    <!--     ITEMS ON DASHBOARD: admin panel table (list of users, with buttons to ban/unban and make admin. NO button to 'unadmin'). list of chars on this acct msg center -->
    <h3 class='is-size-4 is-full'>Tools</h3>
    <div class='tabs is-fullwidth is-boxed'>
        <ul class='is-flex-mobile'>
            <li ng-repeat='tab in tabs' ng-class='{"is-active":currTab==tab.name}'>
                <a href="#" ng-click='showTab(tab.name)' class=''>
                    <i class="fa fa-{{tab.icon}}"></i>&nbsp;
                    <span class="is-hidden-mobile">{{tab.name}}</span>&nbsp;
                </a>
            </li>
        </ul>
    </div>
    <div class="panel dash-panel" ng-show='currTab=="Dailies"'>
        <div class="panel-heading has-text-white has-background-grey-darker">
            <i class="fa fa-calendar-check-o"></i>&nbsp;Available Dailies
        </div>
        <div class="panel-block has-text-white">
            <div class="notification has-background-grey-darker">Restrict by:&nbsp;
                <button class='button is-light' ng-class='{"has-background-grey-lighter":dailyRestrict.pve}' ng-click='dailyRestrict.pve=!dailyRestrict.pve;regetDaily()'><i class="fa fa-square-o" ng-if='!dailyRestrict.pve'></i><i class="fa fa-check-square-o" ng-if='dailyRestrict.pve'></i> PvE
                </button>
                <button class='button is-light' ng-class='{"has-background-grey-lighter":dailyRestrict.pvp}' ng-click='dailyRestrict.pvp=!dailyRestrict.pvp;regetDaily()'><i class="fa fa-square-o" ng-if='!dailyRestrict.pvp'></i><i class="fa fa-check-square-o" ng-if='dailyRestrict.pvp'></i> PvP
                </button>
                <button class='button is-light' ng-class='{"has-background-grey-lighter":dailyRestrict.wvw}' ng-click='dailyRestrict.wvw=!dailyRestrict.wvw;regetDaily()'><i class="fa fa-square-o" ng-if='!dailyRestrict.wvw'></i><i class="fa fa-check-square-o" ng-if='dailyRestrict.wvw'></i> WvW
                </button>
                <button class='button is-light' ng-class='{"has-background-grey-lighter":dailyRestrict.fractals}' ng-click='dailyRestrict.fractals=!dailyRestrict.fractals;regetDaily()'><i class="fa fa-square-o" ng-if='!dailyRestrict.fractals'></i><i class="fa fa-check-square-o" ng-if='dailyRestrict.fractals'></i> Fractals
                </button>
                <button class='button is-light' ng-class='{"has-background-grey-lighter":dailyRestrict.special}' ng-click='dailyRestrict.special=!dailyRestrict.special;regetDaily()'><i class="fa fa-square-o" ng-if='!dailyRestrict.special'></i><i class="fa fa-check-square-o" ng-if='dailyRestrict.special'></i> Special
                </button>
            </div>
            <div class="tile is-ancestor" style='flex-wrap:wrap;'>
                <div class="tile is-6 is-12-mobile is-parent" ng-repeat='d in dailies'>
                    <article class='tile is-child box achieve-box columns'>
                        <div class="column is-one-fifth" ng-if='d.icon'>
                            <img src="{{d.icon}}">
                        </div>
                        <div class="column is-four-fifths" ng-class='{"is-full":!d.icon}'>
                            <p class="is-size-5">{{d.name}}</p>
                            <p class="is-italic">{{d.description}}</p>
                            <p class="notification has-background-grey-darker">{{d.requirement}}</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="panel dash-panel" ng-show='currTab=="Tier Six Material Conversion"'>
        <div class="panel-heading has-text-white has-background-grey-darker">
            <i class="fa fa-money"></i>&nbsp;Tier Six Material Conversion
        </div>
        <div class="panel-block has-text-white">
            STUFF
        </div>
    </div>
    <div class="panel dash-panel" ng-show='currTab=="WvW Matchups"'>
        <div class="panel-heading has-text-white has-background-grey-darker">
            <i class="fa fa-money"></i>&nbsp;WvW Matchups
        </div>
        <div class="panel-block has-text-white">
            STUFF
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="currSkirm.s" chart-labels="currSkirm.l" chart-options='wvwPie' chart-colors ='wvwPie.backgroundColor'>
            </canvas>
        </div>
    </div>
</div>